@font-face {
    font-family: 'avenir_lt_std95_black';
    src: url('avenirltstd-black-webfont.woff2') format('woff2'),
         url('avenirltstd-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenirheavy';
    src: url('avenir_heavy-webfont.woff2') format('woff2'),
         url('avenir_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenir_lt_std45_book';
    src: url('avenirltstd-book-webfont.woff2') format('woff2'),
         url('avenirltstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenir_lt_std55_roman';
    src: url('avenirltstd-roman-webfont.woff2') format('woff2'),
         url('avenirltstd-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
    background-color: #fbba00 ;
   
    color: white;
}
body{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: -20px;

}
main div {
    display: flex;
    flex-direction: column;
    
}
.numero-up img{
    width: 20px;
    height: 20px;
    align-self: center;
}
.numero-down img{
    width: 33px;
    height: 33px;
    align-self: center  ;
}
header{
    opacity: 1;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    animation: p-load 800ms ease-out 2000ms;
    animation-fill-mode: forwards;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 384px
}


.num{
    font-family: avenirheavy;
    font-size: 25px;
    margin-top: 30px;
    margin-right: 3px;
}
.num-down{
    font-family: avenirheavy;
    font-size: 43px;
    margin-top: 49px;
}
.footer{
    display: flex;
    align-items: center;
    opacity: 1;
    animation: p-load 800ms ease-out 2000ms;
    animation-fill-mode: forwards;
}
p{
  font-family: avenir_lt_std55_roman;  
  font-size: 16px;
  line-height: 200%;
  opacity: 1;
  animation: p-load 800ms ease-out 2000ms;
  animation-fill-mode: forwards;}
h3{
    font-family:avenir_lt_std95_black ;
    margin-right: 213px;
    display: flex;
    align-items: center;
}
.incorrecta{
    font-family: avenir_lt_std95_black;
    line-height: 200%;
    font-size: 16px;
    margin-left: -3px;
    opacity: 1;
    animation: p-load 800ms ease-out 2000ms;
    animation-fill-mode: forwards;

}
.correcta{
    font-family: avenir_lt_std95_black;
    line-height: 200%;
    font-size: 16px;
    margin-left: -3px;
    animation: correct 2300ms ease-out 3000ms;
    animation-fill-mode: forwards;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
ol{
    margin-left: -18px;
}
.footerimg{
    width: 86px;
    height: 86px;
    margin-bottom: 52px;
    margin-left: 164px;
}

@keyframes p-load{
    0%{
        
        opacity: 1;;
    }
    100%{
     
        opacity: 0;
    }
}
@keyframes correct{
    0%{


        transform: translate(0%, 0%);
        scale: 1
    }
    100%{

        transform: translate(38%, -182%);
        scale: 2

    }
}